<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
  </head>
  <body>
    <div align="center">
      <h3>Bienvenido a <%= title %></h3>      
      <p>El portal donde podrá crear sus propios juegos!</p>
      <p>
        <a href="/quizes" class="h1">
          Comience a jugar
        </a>
      </p>
    </div>
  </body>
</html>
