<head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>
<label for="preg" class="rem">
	Username:
</label><br>
<input type="text" id="username" name="user[username]" value="<%= user.username %>" autofocus/>
<br>
<label for="resp" class="rem">
	Password:
</label>
<br>
<input type="password" id="pass" name="user[password]"/>
<br>
<a href="/">
	<button type="button" class="testbutton">
		Cancelar
	</button>
</a>
<input type="submit" id="sss" value="Enviar" class="testbutton">