<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <form name="buscador" id="finder" action="/busqueda" method="get">
        Buscador: <input type="text" name="formulario" value="Quizes a buscar">
        <button type="submit">Buscar</button>
    </form>
  </body>
</html>
