<head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>
<h2>Login</h2>

<form method='POST' action='/login'>
  <p>
    <label for="login">
       Login:
    </label><br>
    <input type="text" id="login" name="login" size="30" class="tb5" autofocus/>
    <label for="password">
    <br>
       Password:
    </label><br>
    <input type="password" id="password" name="password"  class="tb5" size="30" />
     </p>
  <div class="actions">
    <input name="commit" type="submit" value="Login" class="testbutton"/>
  </div>
</form>